# TARGET config
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01="ipq-wifi-jdcloud_re-ss-01 zram-swap luci-app-cupsd"
CONFIG_TARGET_ROOTFS_INITRAMFS=n


CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y
CONFIG_TARGET_ROOTFS_SQUASHFS_COMPRESSION_ZSTD=y
CONFIG_DEFAULT_TCP_CONG="bbr"

# Swap
CONFIG_PACKAGE_zram-swap=y
CONFIG_KERNEL_SWAP=y
CONFIG_KERNEL_VM_SWAPPINESS=10

# Kernel modules
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
# USB Support
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb2=y
# Docker
CONFIG_PACKAGE_kmod-cgroupfs=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-dm=y
CONFIG_PACKAGE_kmod-loop=y
CONFIG_PACKAGE_kmod-overlayfs=y
# PassWall
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
# 
CONFIG_PACKAGE_kmod-qca-nss-dp=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan=y
CONFIG_PACKAGE_kmod-qca-nss-ecm=y
CONFIG_PACKAGE_kmod-qca-ssdk=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=y
# 
CONFIG_PACKAGE_kmod-ipt-offload=n
CONFIG_PACKAGE_kmod-nft-offload=n

# Package
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_mii-tool=y
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_xz-utils=y
CONFIG_PACKAGE_mtr=y
CONFIG_PACKAGE_nmap=y
CONFIG_PACKAGE_speedtest-go=y
# Docker
CONFIG_PACKAGE_docker-ce=y
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_cgroupfs-mount=y
# SmartDNS
CONFIG_PACKAGE_smartdns=y
# DDNS-Go
CONFIG_PACKAGE_ddns-go=y
# NSS
CONFIG_PACKAGE_nss-ifb=y
CONFIG_PACKAGE_nss-qdisc=y

# Enable Luci App
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=y
CONFIG_PACKAGE_luci-app-cupsd=m
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-i18n-diskman-zh-cn=y
# Docker
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
CONFIG_PACKAGE_luci-app-quickfile=y
CONFIG_PACKAGE_luci-i18n-quickfile-zh-cn=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-i18n-samba4-zh-cn=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-i18n-sqm-zh-cn=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=y
CONFIG_PACKAGE_luci-app-athena-led=m
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m
# DDNS-Go
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_luci-i18n-ddns-go-zh-cn=y
# SmartDNS
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
# PassWall
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Dns2socks=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Microsocks=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Jq=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
